{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "tags": {
              "TagKey-9823": "TagValue-566",
              "TagKey-3481": "TagValue-320",
              "TagKey-4926": "TagValue-1187",
              "TagKey-751": "TagValue-3921",
              "TagKey-1866": "TagValue-8559",
              "TagKey-3094": "TagValue-9190",
              "TagKey-2449": "TagValue-9",
              "TagKey-8379": "TagValue-164",
              "TagKey-7470": "TagValue-2205",
              "TagKey-4236": "TagValue-3698",
              "TagKey-5316": "TagValue-2725"
            },
            "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          }
        ],
        "count": {
          "type": "Total",
          "value": 1
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "587957946",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
