{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11785"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-7227?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1095"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7227",
        "name": "teststorageRG-7227",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/checkNameAvailability?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt3758",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11784"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ManagedIdentity?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11783"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ManagedIdentity",
        "namespace": "Microsoft.ManagedIdentity",
        "resourceTypes": [
          {
            "resourceType": "Identities",
            "locations": [
              "Global",
              "United States",
              "South Africa",
              "UK",
              "Japan",
              "India",
              "France",
              "Europe",
              "Germany",
              "Switzerland",
              "Canada",
              "Brazil",
              "Australia",
              "Asia",
              "UAE",
              "Korea",
              "Norway",
              "South Africa North",
              "South Africa West",
        [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7227/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4420?api-version=2022-01-31-PREVIEW",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-7227/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4420",
        "x-ms-ratelimit-remaining-subscription-writes": "1094"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-7227/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4420",
        "name": "testMsi-4420",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "principalId": "804d8d1c-035b-4a83-839e-9ae3c2931f02",
          "clientId": "ddd17424-9cd6-485e-899a-e402334ce77a"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-7227/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4420?api-version=2022-01-31-PREVIEW",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11782"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-7227/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4420",
        "name": "testMsi-4420",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "principalId": "804d8d1c-035b-4a83-839e-9ae3c2931f02",
          "clientId": "ddd17424-9cd6-485e-899a-e402334ce77a"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7227/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3758?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "Storage",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-7227/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4420": {}
          }
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/8b60b369-edf6-4c19-b4a0-c98d2f9c9dc2?monitor=true\u0026api-version=2021-04-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1093"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/8b60b369-edf6-4c19-b4a0-c98d2f9c9dc2?monitor=true\u0026api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/8b60b369-edf6-4c19-b4a0-c98d2f9c9dc2?monitor=true\u0026api-version=2021-04-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11781"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/8b60b369-edf6-4c19-b4a0-c98d2f9c9dc2?monitor=true\u0026api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11780"
      },
      "ResponseBody": {
        "identity": {
          "userAssignedIdentities": {
            "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-7227/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4420": {
              "principalId": "804d8d1c-035b-4a83-839e-9ae3c2931f02",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "clientId": "ddd17424-9cd6-485e-899a-e402334ce77a",
              "identityUrl": "https://control-eastus2.identity.azure.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-7227/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3758/credentials/v2/userassigned?arpid=35a0cc2f-9aff-4ee7-be1a-f206eaebacef\u0026uaid=ddd17424-9cd6-485e-899a-e402334ce77a\u0026tid=72f988bf-86f1-41af-91ab-2d7cd011db47",
              "certRenewAfter": "2022-09-20T01:35:00Z"
            }
          },
          "type": "UserAssigned"
        },
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7227/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3758",
        "name": "teststoragemgmt3758",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "keyCreationTime": {
            "key1": "2022-08-05T01:40:12.8929186Z",
            "key2": "2022-08-05T01:40:12.8929186Z"
          },
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-05T01:40:12.8929186Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-05T01:40:12.8929186Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2022-08-05T01:40:12.7678928Z",
          "primaryEndpoints": {
            "blob": "https://teststoragemgmt3758.blob.core.windows.net/",
            "queue": "https://teststoragemgmt3758.queue.core.windows.net/",
            "table": "https://teststoragemgmt3758.table.core.windows.net/",
            "file": "https://teststoragemgmt3758.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7227/providers/Microsoft.Storage/storageAccounts?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11778"
      },
      "ResponseBody": {
        "value": [
          {
            "identity": {
              "userAssignedIdentities": {
                "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-7227/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4420": {
                  "principalId": "804d8d1c-035b-4a83-839e-9ae3c2931f02",
                  "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
                  "clientId": "ddd17424-9cd6-485e-899a-e402334ce77a",
                  "identi[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-7227/providers/Microsoft.Storage/storageAccounts/teststoragemgmt3758?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14970"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "771388170",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
