{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11690"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-3448?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1049"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-3448",
        "name": "teststorageRG-3448",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/checkNameAvailability?api-version=2019-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt39",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11689"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ManagedIdentity?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11688"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.ManagedIdentity",
        "namespace": "Microsoft.ManagedIdentity",
        "resourceTypes": [
          {
            "resourceType": "Identities",
            "locations": [
              "Global",
              "United States",
              "South Africa",
              "UK",
              "Japan",
              "India",
              "France",
              "Europe",
              "Germany",
              "Switzerland",
              "Canada",
              "Brazil",
              "Australia",
              "Asia",
              "UAE",
              "Korea",
              "Norway",
              "South Africa North",
              "South Africa West",
        [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-3448/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-1722?api-version=2022-01-31-PREVIEW",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-3448/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-1722",
        "x-ms-ratelimit-remaining-subscription-writes": "1048"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-3448/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-1722",
        "name": "testMsi-1722",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "principalId": "b78db2a4-74b1-4e85-a90a-5a1f80569e4c",
          "clientId": "5dc4b7d8-8e7c-43fd-8938-01de9d0a7340"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-3448/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-1722?api-version=2022-01-31-PREVIEW",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11687"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-3448/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-1722",
        "name": "testMsi-1722",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "principalId": "b78db2a4-74b1-4e85-a90a-5a1f80569e4c",
          "clientId": "5dc4b7d8-8e7c-43fd-8938-01de9d0a7340"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-3448/providers/Microsoft.Storage/storageAccounts/teststoragemgmt39?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "Storage",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-3448/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-1722": {}
          }
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0ff90698-0801-4de7-b30b-7c91beab2826?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1047"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0ff90698-0801-4de7-b30b-7c91beab2826?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0ff90698-0801-4de7-b30b-7c91beab2826?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11686"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0ff90698-0801-4de7-b30b-7c91beab2826?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11685"
      },
      "ResponseBody": {
        "identity": {
          "userAssignedIdentities": {
            "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-3448/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-1722": {
              "principalId": "b78db2a4-74b1-4e85-a90a-5a1f80569e4c",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "clientId": "5dc4b7d8-8e7c-43fd-8938-01de9d0a7340",
              "identityUrl": "https://control-eastus2.identity.azure.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/teststorageRG-3448/providers/Microsoft.Storage/storageAccounts/teststoragemgmt39/credentials/v2/userassigned?arpid=f31dbc79-081e-4f68-89db-cc285282620f\u0026uaid=5dc4b7d8-8e7c-43fd-8938-01de9d0a7340\u0026tid=72f988bf-86f1-41af-91ab-2d7cd011db47",
              "certRenewAfter": "2022-09-20T01:42:00Z"
            }
          },
          "type": "UserAssigned"
        },
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-3448/providers/Microsoft.Storage/storageAccounts/teststoragemgmt39",
        "name": "teststoragemgmt39",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-05T01:47:30.3297572Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-05T01:47:30.3297572Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2022-08-05T01:47:30.1891308Z",
          "primaryEndpoints": {
            "blob": "https://teststoragemgmt39.blob.core.windows.net/",
            "queue": "https://teststoragemgmt39.queue.core.windows.net/",
            "table": "https://teststoragemgmt39.table.core.windows.net/",
            "file": "https://teststoragemgmt39.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-3448/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11683"
      },
      "ResponseBody": {
        "value": [
          {
            "identity": {
              "type": "None"
            },
            "sku": {
              "name": "Standard_LRS",
              "tier": "Standard"
            },
            "kind": "Storage",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-3448/providers/Microsoft.Storage/storageAccounts/teststoragemgmt39",
            "name": "teststoragemgmt39",
            "type": "Microsoft.Storage/storageAccounts",
          [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/teststorageRG-3448/providers/Microsoft.Storage/storageAccounts/teststoragemgmt39?api-version=2019-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14957"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2104799069",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
